<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<dom-module id="loginmx-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax id="obtenerProductos"
               url="http://services.odata.org/V4/Northwind/Northwind.svc/Products"
               handle-as="json"
               on-response="mostrarProductos">

    </iron-ajax>
    <iron-ajax id="hacerLogin"
              url="http://localhost:4000/v1/usuarios/login"
              method="POST"
              body='{"email":"fphipsond@timesonline.co.uk","password":"jLZHN86YsgV"}'

              on-response="mostrarResultadoLogin"></iron-ajax>

    <div>
        <label for="">[[etuser]]</label>
        <input type="text" value={{valuser::input}}>
    </div>
    <div>
        <label for="">[[etpassword]]</label>
        <input type="text">
    </div>
    <div>
    <button on-click="hacerLogin">[[etlogin]]</button>
    <button on-click="invocarPeticion">Invocar</button>
    </div>


  </template>

  <script>
    /**s
     * @customElement
     * @polymer
     */
    class LoginmxApp extends Polymer.Element {
      static get is() { return 'loginmx-app'; }
      static get properties() {
        return {
          etuser: {
            type: String,
            value: 'front-app'
          },
          etpassword: {
              type: String
          },
          etlogin: {
              type: String
          },
          valuser: {
              type:String
          },
          productos: {
              type: Array
          }
        };
      }
      hacerLogin() {
          console.log("Login correcto de" + this.valuser )
          this.$.hacerLogin.generateRequest();
      }
      invocarPeticion() {
          this.$.obtenerProductos.generateRequest();
      }
      mostrarProductos(data) {
        console.log(data.detail.response.value)
        this.productos=data.detail.response.value
    }
    mostrarResultadoLogin(data) {
        console.log(data.detail.response)
    }
    }

    window.customElements.define(LoginmxApp.is, LoginmxApp);
  </script>
</dom-module>
